{% extends 'base.html' %}
{% block title %}관리 페이지{% endblock %}
{% block content %}
    <h1>관리 페이지</h1>
    <h2>유저 목록</h2>
    <table>
        <tr><th>ID</th><th>아이디</th><th>관리자</th><th>삭제</th></tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                <td><a href="{{ url_for('delete_user', id=user.id) }}">삭제</a></td>
            </tr>
        {% endfor %}
    </table>
    <h2>문의 목록</h2>
    <table>
        <tr><th>ID</th><th>이름</th><th>이메일</th><th>메시지</th><th>견적요청</th><th>삭제</th></tr>
        {% for inquiry in inquiries %}
            <tr>
                <td>{{ inquiry.id }}</td>
                <td>{{ inquiry.name }}</td>
                <td>{{ inquiry.email }}</td>
                <td>{{ inquiry.message }}</td>
                <td>{{ 'Yes' if inquiry.quote_request else 'No' }}</td>
                <td><a href="{{ url_for('delete_inquiry', id=inquiry.id) }}">삭제</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}